.lead__title {
  max-width: 720px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 110%;
    padding-inline: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__title {
    padding: 0 24px;
  }
}


