.cover__title {
  max-width: 560px;
  margin: 0 auto 32px;
  padding: 0;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 106%;
  z-index: 1;
}

.cover__title a{
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .cover__title {
    margin: 0 auto 16px;
    min-width: 288px;
    font-size: 32px;
    line-height: 109%;
  }
}
